.NavBar {
    display: flex;
    justify-content: space-between;
    margin: 3rem 10rem;
    .Logo {
        display: flex;
        align-items: center;
        .LogoTexto {
            padding-left: 1rem;
            font-weight: 500;
        }
    }
    .MenuContainer {
        display: flex;
        justify-content: space-around;
        align-items: center;
        width: 50%;
        .MenuItems {
            text-decoration: none;
            list-style-type: none;
            display: flex;
            .Item {
                padding: 0 3rem;
                font-weight: 500;
                cursor: pointer;
            }
        }
    }
    .IconMenuContainer {
        display: flex;
        justify-content: space-between;
        align-items: center;
        img {
            width: 1.5rem;
            margin: 1rem;
        }
    }
}